 {% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invest Center</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- favicon -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
  <!-- fontawesome css -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
  <!-- flaticon css -->
  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
  <!-- owl carousel css -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
  <!-- owl carousel theme css -->
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
  <!-- slicknav css -->
  <link rel="stylesheet" href="{% static 'css/slicknav.css'%}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  <!-- responsive css -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <link rel="stylesheet" href="{% static 'css/uicons-regular-rounded/css/uicons-regular-rounded.css' %}" />
  <!-- jquery js -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <!-- map css -->
  <link rel="stylesheet" href="{% static 'css/map.css' %}" />
  <link rel="stylesheet" href="{% static 'css/herobgn.css' %}" />
  <link rel="stylesheet" href="{% static 'css/map.dop.css' %}" />
</head>

<body>
  <!--   header area start   -->
  <div class="header-area header-absolute">
    <div class="container">
      <div class="support-bar-area">
        <div class="row">
          <div class="col-lg-4 mt-3 support-contact-info">
            <span class="address"><i class="flaticon-placeholder"></i> Abdumunova 220A</span>
            <span class="phone"><i class="flaticon-chat"></i> +996 708 899 889</span>
          </div>
          <div class="col-lg-4 text-right">
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
            <div class="language">
              <a class="language-btn" href="#"><i class="flaticon-worldwide"></i> English</a>
              <ul class="language-dropdown">
                <li><a href="{% url 'home_ru' %}">Русский</a></li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-lg-3 searchBar">

                   <i class="searchIcon fi-rr-search">  <input type="text" class="ml-auto searchItem" placeholder="Search..."></i>
                  </div> -->
          <form method=GET action="{% url "home" %}">
          <div class="input-group col-lg-4 searchBar">
            <div class="form-outline">
              <input id="search-focus" type="search" id="form1" class="" placeholder="Search..." name="search" />
            </div>
            <button type="button" class="ml-3">
              <i class="fi-rr-search text-right"></i>
            </button>
            <button type="button" class="ml-2" data-bs-toggle="modal" data-bs-target="#exampleModalFilter">
              <i class="fi-rr-settings-sliders"></i>
          </div>
        </form>
        </div>

      </div>

      <!--Modal COntanet filter-->

      <div class="header-navbar">
        <div class="row">
          <div class="col-lg-2 col-6">
            <div class="logo-wrapper">
              <a href="{% url 'home' %}"><img src="../static/NewImage/Logo_invest.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-10 col-6 text-right position-static">
            <ul class="main-menu" id="mainMenu">
              <li class="active">
                <a class="dropdown-btn" href="{% url 'home' %}">Home</a>
              </li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <!-- <li class="dropdown">
                        <a class="dropdown-btn" href="{% url 'services' %}">Services</a>
                        <ul class="dropdown-lists">
                           <li><a href="{% url 'services' %}">Services</a></li>
                           <li><a href="{% url 'service_details' %}">Service Details</a></li>
                        </ul>
                     </li> -->
              <li class="dropdown">
                <a class="dropdown-btn" href="{% url 'all' %}">projects</a>
                <ul class="dropdown-lists">
                  {% comment %} <li><a href="{% url 'all' %}">All projects</a></li> {% endcomment %}
                  <li><a href="{% url 'production' %}">Production</a></li>
                  <li><a href="{% url 'IT' %}">It</a></li>
                  <li><a href="{% url 'commerce' %}">Commerce</a></li>
                  <li><a href="{% url 'energy' %}">Energy</a></li>
                  <li>
                    <a href="{% url 'place' %}">Place of Birth</a>
                  </li>
                </ul>
              </li>
              <!-- <li class="dropdown">
                        <a class="dropdown-btn" href="{% url 'blogs' %}">Blogs</a>
                        <ul class="dropdown-lists">
                           <li><a href="{% url 'blogs' %}">Blogs</a></li>
                           <li><a href="{% url 'blog_details' %}">Blog Details</a></li>
                        </ul>
                     </li> -->
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li>
                <a href="{% url 'service_details' %}" class="boxed-btn">Submit an application</a>
              </li>
            </ul>
            <div id="mobileMenu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   header area end   -->

  <!--   hero area start   -->
  <!-- particles.js container -->

  <div class="hero-area hero-bg">
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <div class="container">
      <div class="hero-txt">
        <div class="row">
          <div class="col-12">
            <span>Finanancial planning for life</span>
            <h1>
              Trusted to help guide entrepreneurs make better financial
              decisions.
            </h1>
            <a href="{% url 'about' %}" class="hero-boxed-btn">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-area-overlay"></div>
  </div>
  <!--   hero area end    -->

  <!--    introduction area start   -->
  <div class="container">
    <div class="intro-section">
      <div class="container">
        <div class="hero-features">
          <div class="row">
            <div class="col-md-3 col-sm-6 single-hero-feature">
              <div class="outer-container">
                <div class="inner-container">
                  <div class="icon-wrapper">
                    <i class="flaticon-briefcase"></i>
                  </div>
                  <h3>Financial consultations</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 single-hero-feature">
              <div class="icon-wrapper">
                <i class="flaticon-wallet"></i>
              </div>
              <h3>Advice Investments</h3>
            </div>
            <div class="col-md-3 col-sm-6 single-hero-feature">
              <div class="icon-wrapper">
                <i class="flaticon-chart"></i>
              </div>
              <h3>Control risks</h3>
            </div>
            <div class="col-md-3 col-sm-6 single-hero-feature">
              <div class="icon-wrapper">
                <i class="flaticon-profits"></i>
              </div>
              <h3>Accounting</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 pr-0">
            <div class="intro-txt">
              <p class="h3">About Us</p>
              <h2 class="section-summary">
                We provide development and attract investment. We help solve
                complex tasks at the intersection of business and government
                relations
              </h2>
              <a href="{% url 'about' %}" class="intro-btn"><span>learn more</span></a>
            </div>
          </div>
          <div class="col-lg-6 pl-lg-0 px-md-3 px-0">
            <div class="intro-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    introduction area end   -->

  <!--   how we do section start   -->
  <div class="container">
    <div class="choose-us">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h2 class="section-summary">Our advantage</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-3">
          <div class="single-reason">
            <div class="about-icon-wrapper">
              <i class="fi-rr-comment-check"></i>
            </div>
            <div class="reason-txt">
              <h4>Solutions</h4>
              <p>
                We formulate the problem, offer the optimal solution, achieve
                the result
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="single-reason">
            <div class="about-icon-wrapper"><i class="fi-rr-pan"></i></div>
            <div class="reason-txt">
              <h4>Expertise</h4>
              <p>
                A unique team with many years of experience in GR, legal,
                strategic and investments counseling
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="single-reason">
            <div class="about-icon-wrapper">
              <i class="fi-rr-tachometer-alt-fastest"></i>
            </div>
            <div class="reason-txt">
              <h4>Speed</h4>
              <p>
                We value time. We do not say what we will do for you tomorrow,
                because we did it. yesterday
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   how we do section end   -->

  <!--    case section start   -->
  <!-- <div class="case-section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <h2 class="section-summary">Свежий подход к финансовым услугам для предпринимателей</h2>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="case-carousel owl-carousel owl-theme">
                     <div class="single-case single-case-bg-1">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="single-case single-case-bg-2">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="single-case single-case-bg-3">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="single-case single-case-bg-4">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="single-case single-case-bg-5">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                     <div class="single-case single-case-bg-6">
                        <div class="outer-container">
                           <div class="inner-container">
                              <h4>Как выбрать тренера по малому бизнесу</h4>
                              <p>Финансовые услуги</p>
                              <a href="{% url 'case_details_ru' %}" class="readmore-btn"><span>Подробнее</span></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
  <!--    case section end   -->

  <!--   Testimonial section start    -->
  <div class="testimonial-section pb-115 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span class="section-title"> Reviews</span>
          <h2 class="section-summary">
            What people say about financial planning
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial-carousel owl-carousel owl-theme">
            <div class="single-testimonial">
              <div class="img-wrapper">
                <img src="assets/img/testimonial/client-1.jpg" alt="" />
              </div>
              <div class="client-desc">
                <p class="comment">
                  They offer innovative solutions with the best. tempor
                  incididunt utla bore et dolor tempor Incididant .
                </p>
                <h6 class="name">Jonathon Doe</h6>
                <p class="rank">Director, Art Media</p>
              </div>
            </div>
            <div class="single-testimonial">
              <div class="img-wrapper">
                <img src="assets/img/testimonial/client-2.jpg" alt="" />
              </div>
              <div class="client-desc">
                <p class="comment">
                  They offer innovative solutions with the best. tempor
                  incididunt utla bore et dolor tempor Incididant .
                </p>
                <h6 class="name">Jonathon Doe</h6>
                <p class="rank">Director, Art Media</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Testimonial section end    -->

  <!--    team section start   -->
  <div class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-section-1" id="sec-70cf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-xs u-image u-image-contain u-image-round u-radius-35 u-image-1"
          src="../static/NewImage/Kyrgyzstan_map_map.svg" data-image-width="1644" data-image-height="829" />
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-1 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalChuy">
          Bishkek
        </button>
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-2 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalIK">
          Issyk-Kul
        </button>
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-3 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalBt">
          Batken
        </button>
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-4 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalTa">
          Talas
        </button>
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-5 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalJa">
          Jalal-abad
        </button>
        <button
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-6 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalNa">
          Naryn<br />
        </button>
        <button href="https://nicepage.com/k/card-html-templates"
          class="u-border-none u-btn u-button-style u-custom-font u-font-georgia u-none u-text-custom-color-2 u-btn-7 btn btn-success btn-lg"
          data-toggle="modal" data-target="#exampleModalOsh">
          Osh
        </button>
        <a href="#"
          class="u-align-center u-border-1 u-border-custom-color-2 u-btn u-btn-round u-button-style u-hover-custom-color-2 u-none u-radius-20 u-text-hover-white u-btn-8">
          About Kyrgyzstan<br />
        </a>
      </div>
    </section>
  </div>

  <div class="modal fade" id="exampleModalChuy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalIK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>ПРоекты по обл.Баткен</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalBt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-3 row">
          <div class="col-12 col-lg-7">
            <img src="../static/NewImage/nft.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-5">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
          <div class="col-12 col-lg-7 pt-3">
            <img src="../static/NewImage/nft.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-5">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
          <div class="col-12 col-lg-7 pt-3">
            <img src="../static/NewImage/nft.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-5">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalTa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalNa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalJa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalOsh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 row">
          <div class="col-12 col-lg-5 ad p-0">
            <img src="https://i.imgur.com/UCqKKB4.jpg" width="100%" height="100%" />
          </div>
          <div class="details col-12 col-lg-7">
            <h2>STAY TUNED</h2>
            <p>
              <small class="para">Subscribe to our newsletter and never miss our<br />
                designs ,latest news.etc.</small>
            </p>
            <p>
              <small class="para">Our newsletter is sent once a week, every<br />Monday</small>
            </p>
            <small class="text-muted"><a href="#">Learn more</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    team section end   -->
  {% for i in projects %}
  <p>{{i.title}}</p>
  {% endfor %}

  <!--    blog section start   -->
  <div class="blog-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span class="section-title"> Our blog</span>
          <h2 class="section-summary">Check out the latest finance news</h2>
        </div>
      </div>
      <div class="row">
        <div class="owl-carousel slider-sectffion owl-theme">
          {% for project in object_list %}
          <div class="col-lg-4 col-md-6">
             <div class="single-blog">
                {% if project.photo %}
                <div class="blog-img-wrapper">
                   <img src="{{ project.photo.url }}" alt="">
                </div>
                {% endif %}
                <div class="blog-txt">
                   <p class="date"><small>By <span class="username">Admin</span></small> |
                      <small>{{ project.date }} </small> </p>
                   <h4 class="blog-title"><a href="blog-details.html">{{ project.title }}</a></h4>
                   <p class="blog-summary">{{ project.body }}</p>
                   <a href="blog-details.html" class="readmore-btn"><span>Read More</span></a>
                </div>
             </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
  <!--    blog section end   -->

  <!--   partner section start    -->
  <div class="partner-section">
    <div class="container top-border">
      <div class="row">
        <div class="col-md-12">
          <div class="partner-carousel owl-carousel owl-theme">
            <div class="single-partner-item">
              <div class="outer-container">
                <div class="inner-container">
                  <img src="../static/NewImage/Logo_elite.png" alt="" />
                </div>
              </div>
            </div>
            <div class="single-partner-item">
              <div class="outer-container">
                <div class="inner-container">
                  <img src="../static/NewImage/Alali.png" alt="" />
                </div>
              </div>
            </div>
            <div class="single-partner-item">
              <div class="outer-container">
                <div class="inner-container">
                  <img src="..//static//NewImage/apLogo.png" alt="" />
                </div>
              </div>
            </div>
            <div class="single-partner-item">
              <div class="outer-container">
                <div class="inner-container">
                  <img src="../static/NewImage/greateNomad.png" alt="" />
                </div>
              </div>
            </div>
            <div class="single-partner-item">
              <div class="outer-container">
                <div class="inner-container">
                  <img src="../static/NewImage/Logo_invest.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   partner section end    -->

  <!--    call to action section start    -->
  <!-- <div class="cta-section cta-bg">
      <div class="container">
         <div class="cta-content">
            <div class="row">
               <div class="col-md-9 col-lg-7">
                  <h3>Свяжитесь с нами для информации.</h3>
               </div>
               <div class="col-md-3 col-lg-5 contact-btn-wrapper">
                  <a href="{% url 'contact_ru' %}" class="boxed-btn contact-btn"><span>Связатса с нами</span></a>
               </div>
            </div>
         </div>   
      </div>
      <div class="cta-overlay"></div>
   </div> -->
  <!--    call to action section end    -->
  <div class="modal fade" id="exampleModalFilter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Фильтрация</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="regions col-lg-4">
              <h3 class="titleRegFil">Регионы</h3>
              <p>Чуй<input type="checkbox"></p>
              <p>Талас<input type="checkbox"></p>
              <p>Иссык-Куль<input type="checkbox"></p>
              <p>Ош<input type="checkbox"></p>
              <p>Нарын<input type="checkbox"></p>
              <p>Баткен<input type="checkbox"></p>
              <p>Джалал-абад<input type="checkbox"></p>
            </div>
            <div class="price col-lg-4">
              <h3 class="titlePriceFil">Сумма</h3>
              <p>10000$<input type="checkbox"></p>
              <p>20000$<input type="checkbox"></p>
              <p>30000$<input type="checkbox"></p>
              <p>40000$<input type="checkbox"></p>
              <p>50000$<input type="checkbox"></p>
              <p>60000$<input type="checkbox"></p>
            </div>
            <div class="catagore col-lg-4">
              <h3 class="titleCatFil">Категории</h3>
              <p>Производство<input type="checkbox"></p>
              <p>IT<input type="checkbox"></p>
              <p>Комерция<input type="checkbox"></p>
              <p>Месторождение<input type="checkbox"></p>
              <p>фыв<input type="checkbox"></p>
              <p>60<input type="checkbox"></p>
              <p>70<input type="checkbox"></p>
              <p>80<input type="checkbox"></p>
              <p>9 0<input type="checkbox"></p>
              <p>100<input type="checkbox"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    footer section start   -->
  <footer class="footer-section">
    <div class="container">
      <div class="top-footer-section">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="footer-logo-wrapper">
              <a href="{% url 'home' %}">
                <img src="../static/NewImage/Logo_invest.png" alt="" />
              </a>
            </div>
            <p class="footer-txt">
              To consolidate the business community of the country, three
              successful businessmen of Kyrgyzstan: Timur Fayziev, Koshmatov
              Shair and Murzaev Talant decided to create an Invest Center
              company. The company officially registered on January 27, 2022,
              and the founders are Koshmatov Shairbek Koshmatovich, Murzaev
              Talantbek Askarbekovich and Askarov Aibek Askarovich.
            </p>
          </div>
          <div class="col-lg-2 col-md-3">
            <h4>Useful Links</h4>
            <ul class="footer-links">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'blogs' %}">Blogs</a></li>
              <li><a href="{% url 'contact' %}">Contacts</a></li>
            </ul>
          </div>
          <!-- <div class="col-lg-2 col-md-3">
                     <h4>Solutions</h4>
                     <ul class="footer-links">
                        <li><a href="#">Invest Panning</a></li>
                        <li><a href="#">Taxe & Business</a></li>
                        <li><a href="#">Risk Manegment</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Life & Insurance</a></li>
                     </ul>
                  </div>  -->
          <div class="col-lg-3 col-md-6">
            <h4>Contact Us</h4>
            <div class="footer-contact-info">
              <ul class="footer-address">
                <li>
                  <i class="fa fa-home"></i><span>Abdumunova 220A</span>
                </li>
                <li>
                  <i class="fa fa-phone"></i><span>+996 708 899 889</span>
                </li>
                <li>
                  <i class="far fa-envelope"></i><span>info@yourmail.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-section">
        <div class="row">
          <div class="col-sm-7">
            <p class="text-left">
              © Copyrights 2019 Finlance. All rights reserved.
            </p>
          </div>
          <div class="col-sm-5">
            <p class="text-right">Designed by <strong>Megasoft</strong></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--    footer section end   -->

  <!-- preloader section start -->
  <div class="loader-container">
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>
  <!-- preloader section end -->

  <!-- back to top area start -->
  <div class="back-to-top">
    <i class="fas fa-chevron-up"></i>
  </div>
  <!-- back to top area end -->

  <script>
    particlesJS("particles-js", {
      particles: {
        number: {
          value: 123,
          density: {
            enable: true,
            value_area: 800,
          },
        },
        color: {
          value: "#0090ff",
        },
        shape: {
          type: "circle",
          stroke: {
            width: 0,
            color: "#0009ff",
          },
          polygon: {
            nb_sides: 5,
          },
          image: {
            src: "img/github.svg",
            width: 100,
            height: 100,
          },
        },
        opacity: {
          value: 0.5,
          random: false,
          anim: {
            enable: false,
            speed: 1,
            opacity_min: 0.1,
            sync: false,
          },
        },
        size: {
          value: 5,
          random: true,
          anim: {
            enable: false,
            speed: 40,
            size_min: 0.1,
            sync: false,
          },
        },
        line_linked: {
          enable: true,
          distance: 150,
          color: "#ffffff",
          opacity: 0.4,
          width: 1,
        },
        move: {
          enable: true,
          speed: 5,
          direction: "none",
          random: false,
          straight: false,
          out_mode: "out",
          bounce: false,
          attract: {
            enable: false,
            rotateX: 600,
            rotateY: 1200,
          },
        },
      },
      interactivity: {
        detect_on: "canvas",
        events: {
          onhover: {
            enable: true,
            mode: "repulse",
          },
          onclick: {
            enable: true,
            mode: "push",
          },
          resize: true,
        },
        modes: {
          grab: {
            distance: 400,
            line_linked: {
              opacity: 1,
            },
          },
          bubble: {
            distance: 400,
            size: 40,
            duration: 2,
            opacity: 8,
            speed: 3,
          },
          repulse: {
            distance: 200,
            duration: 0.4,
          },
          push: {
            particles_nb: 4,
          },
          remove: {
            particles_nb: 2,
          },
        },
      },
      retina_detect: true,
    });
  </script>

  <!-- popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- owl carousel js -->
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <!-- slicknav js -->
  <script src="{% static 'js/jquery.slicknav.min.js'%}"></script>
  <!-- isotope js -->
  <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
  <!-- particle js -->
  <script src="{% static 'js/particles.min.js'%}"></script>
  <!-- jquery ripples js -->
  <script src="{% static 'js/jquery.ripples-min.js'%}"></script>
  <!-- ytplayer js -->
  <script src="{% static 'js/YTPlayer.min.js'%}"></script>
  <!-- parallax js -->
  <script src="{% static 'js/parallax.min.js'%}"></script>
  <!-- main js -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>
  <!-- main js -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="../static/js/new.js"></script>

</body>

</html>
